

 



header{
  background-image: url(https://i.pinimg.com/originals/8a/d1/a9/8ad1a979583c6265f1e96636b6dbaf8d.jpg);
}



header nav ul li a {
  text-align: center;
  
}

.link{
  text-align: center;
  margin-top: 10px;
}
.maps {
  text-align: left;
  position: static;
  border: 3px solid #174a96;
  margin-top: 20px;
}

.date{
  border: 1px solid #39034e;
  text-align: center;
  margin-top: 0%;
  
}
 #salmon {
  border: 1px solid #73AD21;
  margin-top: 0px;
  margin-bottom: 70px;
  margin-right: 30px;
  
}
main{
  background-image: url(../img/chinook.jpg);
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  }



 

